/* for the flip effect */
.flip {
    height: 150px;
    width: 500px;
    margin: 0 auto;
}
.flip img {
    width: 250px;
    height: auto;
}
.flip .back {
    background: #2184cd;
    color: #fff;
    text-align: center;
}

.front{
    background-color: orangered;
}
.back{
    background-color: black !important;
    overflow-y: scroll;
}

.waves-effect{
    width: 33.33%;
}

#tableHeader{
    clear: both;
}

.collapsible-body{
    height: 20em;
    overflow-y: scroll;
}

#news{
    height: 40em;
    overflow-y: scroll;
}

.card-content{
    height: 40em;
    overflow-y: scroll;
}

.empIntroBoxes{
    background-color: darkgray;
    border-radius: 5px;
    padding: 2em;
    width: 48%;
    margin-right: 2%;
    text-align: center;
}

.boxes{
    background-color: darkgray;
    float: left;
    border-radius: 5px;
    padding: 2em;
    width: 48%;
    margin-right: 2%;
    text-align: center;
    margin-bottom: 2em;
    height: 13em;
}

#exception{
    background-color: transparent !important;
}

.nav-wrapper{
    background-color: orangered;
}

body{
    background-color: lightgray;
}

.page-footer{
    background-color: orangered !important;
}

a{
    color: white !important;
    background-color: orangered !important;
}

.card{
    background-color: orangered !important;
}

.pagination li.active {
    background-color: orangered !important;
}

#StudentsMap{
    overflow: visible !important;
}

